In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
import random

# Фиксируем сид для NumPy
np.random.seed(42)

# Фиксируем сид для встроенного модуля random
random.seed(42)

### Распакуем данные в отдельную папку

In [2]:
import os
import zipfile

# Path to the ZIP file
zip_filepath = './hse-rec-sys-challenge-2024.zip'

# Destination folder where the extracted files will be placed
destination_folder = 'data'

# Ensure that the destination folder exists
os.makedirs(destination_folder, exist_ok=True)

# Unzip the file to the specified folder
with zipfile.ZipFile(zip_filepath, 'r') as zf:
    zf.extractall(path=destination_folder)

### Посмотрим на содержимое

In [3]:
events_df = pd.read_csv('./data/events.csv')
events_df.head()

   user_id  item_id  rating  timestamp
0        0     1505       4          0
1        0     3669       3          1
2        0      584       4          2
3        0     3390       3          3
4        0     2885       4          4

In [4]:
events_df[events_df['user_id']==0]

     user_id  item_id  rating  timestamp
0          0     1505       4          0
1          0     3669       3          1
2          0      584       4          2
3          0     3390       3          3
4          0     2885       4          4
..       ...      ...     ...        ...
282        0     1124       3        321
283        0     1809       4        322
284        0     3602       4        323
285        0     2924       3        325
286        0     3360       2        326

[287 rows x 4 columns]

In [5]:
item_features_df = pd.read_csv('./data/item_features.csv')
item_features_df.head()

,item_id,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,genre_6,genre_7,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17
0,0,0,1,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
4,4,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

user_features_df = pd.read_csv('./data/user_features.csv')
user_features_df['gender'] = le.fit_transform(user_features_df['gender'])
user_features_df.head()

   user_id  gender  age
0     4855       0    1
1     4065       1   56
2     3331       1   25
3     5373       1   45
4     2032       1   25

In [7]:
submission_sample_df = pd.read_csv('./data/submission_sample.csv')
submission_sample_df.head()

   user_id              item_id
0        0  0 1 2 3 4 5 6 7 8 9
1        1  0 1 2 3 4 5 6 7 8 9
2        2  0 1 2 3 4 5 6 7 8 9
3        3  0 1 2 3 4 5 6 7 8 9
4        4  0 1 2 3 4 5 6 7 8 9

In [8]:
submission_sample_df.item_id

0       0 1 2 3 4 5 6 7 8 9
1       0 1 2 3 4 5 6 7 8 9
2       0 1 2 3 4 5 6 7 8 9
3       0 1 2 3 4 5 6 7 8 9
4       0 1 2 3 4 5 6 7 8 9
               ...
6035    0 1 2 3 4 5 6 7 8 9
6036    0 1 2 3 4 5 6 7 8 9
6037    0 1 2 3 4 5 6 7 8 9
6038    0 1 2 3 4 5 6 7 8 9
6039    0 1 2 3 4 5 6 7 8 9
Name: item_id, Length: 6040, dtype: object

### Разобьем выборку на тренировочную, валидационнную и тестовую

In [9]:
from data_split import *
train_df, test_df = split_data_by_user(events_df)

print("Train shape:", train_df.shape)
print("Test shape:", test_df.shape)

Train shape: (888109, 4)
Test shape: (6040, 4)

In [10]:
train_df.head()

     user_id  item_id  rating  timestamp
285        0     2924       3        325
284        0     3602       4        323
283        0     1809       4        322
282        0     1124       3        321
281        0     1792       4        320

### Добавляем фичи из двух других таблиц

In [11]:
from feature_additions import *

user_features_from_train = get_user_features_from_train(train_df, item_features_df)
item_features_from_train = get_item_features_from_train(train_df, item_features_df)

# Присоединение признаков к тестовому набору данных
featured_train_df = join_features(train_df, user_features_from_train, item_features_from_train)
featured_test_df = join_features(test_df, user_features_from_train, item_features_from_train)

# Итоговый тестовый датасет с признаками
featured_train_df.head()

,user_id,item_id,rating,timestamp,user_avg_rating,user_num_ratings,user_avg_rating_genre_0,user_avg_rating_genre_1,user_avg_rating_genre_2,user_avg_rating_genre_3,...,user_avg_rating_genre_11,user_avg_rating_genre_12,user_avg_rating_genre_13,user_avg_rating_genre_14,user_avg_rating_genre_15,user_avg_rating_genre_16,user_avg_rating_genre_17,num_genres,movie_avg_rating,movie_num_ratings
0,0,2924,3,325,3.986014,286,0.328671,0.213287,0.090909,0.15035,...,0.062937,0.045455,0.188811,0.164336,0.227273,0.059441,0.013986,1,2.708995,189.0
1,0,3602,4,323,3.986014,286,0.328671,0.213287,0.090909,0.15035,...,0.062937,0.045455,0.188811,0.164336,0.227273,0.059441,0.013986,4,2.735499,431.0
2,0,1809,4,322,3.986014,286,0.328671,0.213287,0.090909,0.15035,...,0.062937,0.045455,0.188811,0.164336,0.227273,0.059441,0.013986,2,3.549116,1018.0
3,0,1124,3,321,3.986014,286,0.328671,0.213287,0.090909,0.15035,...,0.062937,0.045455,0.188811,0.164336,0.227273,0.059441,0.013986,2,3.494970,497.0
4,0,1792,4,320,3.986014,286,0.328671,0.213287,0.090909,0.15035,...,0.062937,0.045455,0.188811,0.164336,0.227273,0.059441,0.013986,1,3.677316,626.0

### Функции для классификации фильмов (выставление оценок)

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from models.models_to_generate_candidates import *
from models.top_n import TopN

classifiers = {
    'TopN': TopN(create_user_item_matrix, user_features_df, item_features_df),
    'LogisticRegression': LogisticRegression(),
    # 'GradientBoosting': GradientBoostingClassifier(),
    
}

In [15]:
# у меня обучалось 12 минут...
trained_models = train_models(featured_train_df, 'rating', classifiers)

Training TopN:

Training LogisticRegression:

c:\Вышка\FTiAD\recsys\RecSysCompetition\.venv\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

### Создадим датасет для фильмов, которые не были просмотрены пользователем (таких пар нет в обучающей выборке)

In [16]:
def create_non_seen_films_dataset(featured_train_df, user_features_df, item_features_df):
    # Создаем копию featured_train_df, чтобы не изменять оригинальный DataFrame
    df = featured_train_df.copy()
    
    # Получаем список всех уникальных пользователей и фильмов
    unique_users = df["user_id"].unique()
    unique_items = df["item_id"].unique()
    
    # Создаем полный DataFrame с всеми возможными комбинациями пользователей и фильмов
    index = pd.MultiIndex.from_product([unique_users, item_features_df["item_id"]], names=["user_id", "item_id"])
    non_seen_films_df = pd.DataFrame(index=index).reset_index()
    
    # Добавляем признаки пользователей
    non_seen_films_df = non_seen_films_df.merge(user_features_df, on="user_id", how="left")
    
    # Добавляем признаки фильмов
    non_seen_films_df = non_seen_films_df.merge(item_features_df, on="item_id", how="left")
    
    # Оставляем только те пары, которых нет в тренировочном наборе
    non_seen_films_df = non_seen_films_df[~non_seen_films_df.set_index(["user_id", "item_id"]).index.isin(df.set_index(["user_id", "item_id"]).index)]
    
    return non_seen_films_df

In [17]:
for column in featured_train_df.columns:
    featured_train_df[column] = featured_train_df[column].astype('int16')
    featured_val_df[column] = featured_val_df[column].astype('int16')
    featured_test_df[column] = featured_test_df[column].astype('int16')

In [18]:
non_seen_films_df = create_non_seen_films_dataset(featured_train_df, user_features_df, item_features_df)

In [19]:
non_seen_films_df

,user_id,item_id,gender,age,genre_0,genre_1,genre_2,genre_3,genre_4,genre_5,...,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17
0,0,0,1,35,0,1,0,1,1,0,...,1,0,0,0,0,1,0,0,0,0
1,0,1,1,35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,2,1,35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,3,1,35,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0,4,1,35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22384234,6039,3700,1,35,0,1,1,1,0,0,...,0,0,0,1,0,0,0,0,0,0
22384235,6039,3701,1,35,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
22384236,6039,3702,1,35,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
22384237,6039,3703,1,35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22384238,6039,3704,1,35,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Теперь воспользуемся нашими обученными модельками, чтобы предсказать рейтинг непросмотренных фильмов

In [21]:
trained_models

{'LogisticRegression': LogisticRegression(),
 'GradientBoosting': GradientBoostingClassifier()}

In [25]:
import pickle

def save_model(model, filename):
    with open(filename, 'wb') as f:
        pickle.dump(model, f)

# Пример использования:
save_model(trained_models, 'trained_models.pkl')

In [22]:
predictions = []
for model in trained_models:
    predictions.append(make_predictions(non_seen_films_df, trained_models[model]))

In [24]:
non_seen_films_with_predictions = non_seen_films_df[['user_id', 'item_id']].copy()

In [26]:
for i, model in enumerate(trained_models):
    non_seen_films_with_predictions[model] = predictions[i]

In [27]:
non_seen_films_with_predictions.head()

   user_id  item_id  LogisticRegression  GradientBoosting
0        0        0                   4                 4
1        0        1                   4                 4
2        0        2                   4                 4
3        0        3                   4                 4
4        0        4                   4                 4

In [49]:
non_seen_films_with_predictions.shape

(21502171, 4)

### Рейтинг есть! Теперь выберем топ 100 фильмов для каждого пользователя по всем моделям

In [61]:
def get_top_n(user_item_ratings, model_name, n=100):
    '''Функция возвращает топ-n фильмов для каждого пользователя'''
    
    # Сортируем данные по убыванию предсказанной оценки
    top_n = user_item_ratings.sort_values(model_name, ascending=False)
    
    # Оставляем только первые n строк для каждого пользователя
    top_n = top_n.groupby('user_id').head(n).reset_index(drop=True)
    
    return top_n

In [54]:
def create_top_films_df(non_seen_films_with_predictions, trained_models, n=100):
    '''
    Функция создает два топа по 100 фильмов на основе двух моделей
    '''
    
    top_films = {}
    for model in trained_models:
        top_films[model] = get_top_n(
            non_seen_films_with_predictions, model, n=n
        )
    
    # Объединяем результаты
    result = pd.concat(list(top_films.values()))
    
    return result

In [43]:
top_films_df = create_top_films_df(non_seen_films_with_predictions, trained_models)

In [48]:
top_films_df

        user_id  item_id  LogisticRegression  GradientBoosting
0          6039     3704                   4                 4
1             0        0                   4                 4
2             0        1                   4                 4
3             0        2                   4                 4
4             0        3                   4                 4
...         ...      ...                 ...               ...
603995     5522     3691                   4                 3
603996     5522     3690                   4                 3
603997     5522     3689                   4                 3
603998     5522     3688                   4                 3
603999     5522     3705                   4                 3

[1208000 rows x 4 columns]

In [69]:
top_films_df = top_films_df.drop_duplicates()
top_films_df.shape

(1053262, 4)

### Теперь нужно добавить в этот датафрейм фичи

In [70]:
featured_top_films_df = add_features_to_train_data(
    top_films_df, user_features_df, item_features_df)
featured_top_films_df

,user_id,item_id,LogisticRegression,GradientBoosting,gender,age,genre_0,genre_1,genre_2,genre_3,...,genre_8,genre_9,genre_10,genre_11,genre_12,genre_13,genre_14,genre_15,genre_16,genre_17
0,6039,3704,4,4,1,35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,4,4,1,35,0,1,0,1,...,1,0,0,0,0,1,0,0,0,0
2,0,1,4,4,1,35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,2,4,4,1,35,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,4,4,1,35,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053257,5522,3691,4,3,1,56,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1053258,5522,3690,4,3,1,56,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1053259,5522,3689,4,3,1,56,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1053260,5522,3688,4,3,1,56,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1053261,5522,3705,4,3,1,56,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0

### Кажется финишная прямая... Теперь предскажем топ 10 фильмов для каждого пользователя

In [71]:
from sklearn.linear_model import LinearRegression

# Создаем новую колонку с усредненной оценкой от двух моделей
featured_top_films_df['average_prediction'] = (sum([featured_top_films_df[model_name] for model_name in trained_models])) / len(trained_models)

# Выделяем необходимые признаки для обучения модели
X = featured_top_films_df.drop(['average_prediction'], axis=1)
y = featured_top_films_df['average_prediction']

In [72]:
# Обучаем линейную регрессию
lr = LinearRegression()
lr.fit(X, y)

# Применяем обученную модель для предсказаний
predictions = lr.predict(X)

# Добавляем предсказанные значения в датафрейм
featured_top_films_df['final_prediction'] = predictions

In [73]:
top_10_films = get_top_n(featured_top_films_df, 'final_prediction', n=10)[['user_id', 'item_id']]

# Экспортируем результат в CSV-файл
top_10_films.to_csv('top_10_films.csv', index=False)

In [74]:
top_10_films

       user_id  item_id
0         5013     3319
1         5013     3561
2         5013     3493
3          424     2642
4         3027     3072
...        ...      ...
60395      430       46
60396      430       63
60397     5528     3681
60398     5528     3702
60399     5528     3700

[60400 rows x 2 columns]

In [75]:
top_10_films.user_id.nunique()

6040

### Осталось привести к нужному формату сабмита

In [76]:
def format_for_submission(df):
    # Группируем строки по user_id и соединяем item_id через пробел
    submission = (
        df
        .groupby('user_id')['item_id']
        .apply(lambda x: ' '.join(x.astype(str)))
        .reset_index()
    )
    
    return submission

In [77]:
submission = format_for_submission(top_10_films)
submission

      user_id                                            item_id
0           0  2816 2853 2862 3344 3369 3319 3432 3573 3561 3635
1           1                      36 81 63 72 57 59 52 15 46 40
2           2                   59 57 40 24 15 0 114 115 105 104
3           3  3394 3398 3407 3348 3326 3369 3342 3344 3319 3432
4           4  3369 3407 3348 3394 3319 3326 3342 3344 3283 3267
...       ...                                                ...
6035     6035  3693 3680 3653 3561 3529 3344 2931 2877 2853 2816
6036     6036  2853 2862 2877 2931 3344 3529 3561 3653 3680 3693
6037     6037        2931 3493 3561 3022 1583 36 829 830 831 833
6038     6038  3344 3561 3680 3693 2642 2715 2721 2777 2802 2816
6039     6039  3680 2853 3022 2816 2802 2777 2931 3693 2721 3344

[6040 rows x 2 columns]

In [78]:
submission.to_csv('submission.csv', index=False)