In [1]:
!pip install lightgbm

Requirement already satisfied: lightgbm in ./.venv/lib/python3.10/site-packages (4.5.0)
Requirement already satisfied: numpy>=1.17.0 in ./.venv/lib/python3.10/site-packages (from lightgbm) (2.1.2)
Requirement already satisfied: scipy in ./.venv/lib/python3.10/site-packages (from lightgbm) (1.14.1)

In [2]:
import os
from data_split import *
from feature_additions import *

data_path = 'data'
events_df = pd.read_csv('data/events.csv')  # [user_id, item_id, rating, timestamp]

user_features_df = pd.read_csv(os.path.join(data_path,'user_features.csv')) # [user_id, gender, age]
item_features_df = pd.read_csv('./data/item_features.csv')

train_df, val_df, test_df = split_data_by_user(events_df)

user_features_from_train = get_user_features_from_train(train_df, item_features_df)
item_features_from_train = get_item_features_from_train(train_df, item_features_df)

# Присоединение признаков к тестовому набору данных
train_df_with_features = join_features_to_test(train_df, user_features_from_train, item_features_from_train)
test_df_with_features = join_features_to_test(test_df, user_features_from_train, item_features_from_train)
val_df_with_features = join_features_to_test(val_df, user_features_from_train, item_features_from_train)


target_col = ['rating']
X_train, y_train = train_df_with_features.drop(target_col, axis = 1), train_df_with_features[target_col]
X_test, y_test = test_df_with_features.drop(target_col, axis = 1), test_df_with_features[target_col]
X_val, y_val = val_df_with_features.drop(target_col, axis = 1), val_df_with_features[target_col]

In [3]:
X_val

,user_id,item_id,user_avg_rating,user_num_ratings,user_avg_rating_genre_0,user_avg_rating_genre_1,user_avg_rating_genre_2,user_avg_rating_genre_3,user_avg_rating_genre_4,user_avg_rating_genre_5,...,user_avg_rating_genre_11,user_avg_rating_genre_12,user_avg_rating_genre_13,user_avg_rating_genre_14,user_avg_rating_genre_15,user_avg_rating_genre_16,user_avg_rating_genre_17,num_genres,movie_avg_rating,movie_num_ratings
0,0,2924,3.989474,285,0.329825,0.214035,0.091228,0.150877,0.364912,0.070175,...,0.063158,0.045614,0.189474,0.164912,0.228070,0.059649,0.014035,1,2.706522,184.0
1,1,2345,3.644788,259,0.324324,0.127413,0.027027,0.034749,0.258687,0.123552,...,0.019305,0.034749,0.092664,0.231660,0.405405,0.054054,0.019305,1,4.083799,537.0
2,2,264,3.801418,141,0.581560,0.290780,0.056738,0.056738,0.248227,0.078014,...,0.021277,0.028369,0.106383,0.290780,0.304965,0.063830,0.014184,1,3.901639,183.0
3,3,188,3.344978,229,0.589520,0.266376,0.039301,0.069869,0.362445,0.074236,...,0.017467,0.026201,0.069869,0.331878,0.288210,0.056769,0.017467,1,3.695150,866.0
4,4,2363,4.047619,105,0.400000,0.114286,0.038095,0.038095,0.361905,0.095238,...,0.028571,0.019048,0.123810,0.180952,0.266667,0.047619,0.028571,1,2.975155,483.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,6035,2359,4.011364,88,0.454545,0.215909,0.045455,0.045455,0.147727,0.102273,...,0.011364,0.000000,0.056818,0.568182,0.215909,0.125000,0.000000,1,3.473684,133.0
6036,6036,2673,4.000000,27,0.148148,0.074074,0.037037,0.037037,0.296296,0.148148,...,0.037037,0.037037,0.111111,0.111111,0.148148,0.111111,0.037037,1,4.055028,1054.0
6037,6037,1376,3.670455,88,0.159091,0.090909,0.034091,0.022727,0.386364,0.056818,...,0.045455,0.045455,0.113636,0.090909,0.136364,0.056818,0.011364,1,3.970817,1542.0
6038,6038,2151,3.771121,651,0.222734,0.179724,0.093702,0.187404,0.459293,0.044547,...,0.082949,0.032258,0.121352,0.156682,0.102919,0.046083,0.018433,2,1.839416,137.0
6039,6039,241,3.815000,200,0.300000,0.195000,0.020000,0.025000,0.245000,0.065000,...,0.010000,0.045000,0.190000,0.360000,0.190000,0.040000,0.015000,2,3.812734,267.0

In [4]:
import lightgbm as lgb

lgb_train = lgb.Dataset(X_train, y_train)
lgb_val = lgb.Dataset(X_val, y_val, reference=lgb_train)

# Параметры модели
params = {
    'objective': 'regression',      # Можно использовать 'lambdarank' для ранжирования
    'metric': 'rmse',               # Метрика регрессии, для ранжирования можно использовать NDCG
    'boosting_type': 'gbdt',
    'learning_rate': 0.05,
    'num_leaves': 31,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
}

# Обучение модели
model = lgb.train(params, lgb_train, valid_sets=[lgb_train, lgb_val], num_boost_round=1000)

# Предсказание на валидации для оценки
y_pred_val = model.predict(X_val, num_iteration=model.best_iteration)

from sklearn.metrics import mean_squared_error
rmse_val = mean_squared_error(y_val, y_pred_val, squared=False)
print(f"RMSE на валидационных данных: {rmse_val}")

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.018686 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 6120
[LightGBM] [Info] Number of data points in the train set: 882069, number of used features: 25
[LightGBM] [Info] Start training from score 3.580824
RMSE на валидационных данных: 0.9402131023666197

/Users/akzholba/Documents/RecSys/RecSysCompetition/.venv/lib/python3.10/site-packages/sklearn/metrics/_regression.py:492: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

In [5]:
import itertools
top_k = 10
def get_top_k_recommendations(user_id, k=top_k, df=test_df):
    user_predictions = df[df['user_id'] == user_id]
    top_k_items = user_predictions.nlargest(k, 'predicted_rating')['item_id'].values
    return list(top_k_items)
users = test_df['user_id'].unique()
items = test_df['item_id'].unique()

all_combinations_test = pd.DataFrame(list(itertools.product(users, items)), columns=['user_id', 'item_id'])
all_combinations_test = join_features_to_test(all_combinations_test, user_features_from_train, item_features_from_train)
# X_test, y_test = all_combinations_test.drop(target_col, axis = 1), all_combinations_test[target_col]
X_test = all_combinations_test
all_combinations_test['predicted_rating'] = model.predict(X_test, num_iteration=model.best_iteration)

# Для каждого пользователя выбираем топ-10 фильмов в тестовом наборе
user_top_k_recommendations_test = {user_id: get_top_k_recommendations(user_id, df=all_combinations_test) for user_id in test_df.user_id}

# Преобразуем результат в DataFrame для теста
recommendations_test = pd.DataFrame({
    'user_id': user_top_k_recommendations_test.keys(),
    'recommended_items': user_top_k_recommendations_test.values()
})

In [9]:
test_df = test_df.reset_index()
recommendations_test['true'] = test_df['item_id'].apply(lambda x: [x])

In [12]:
import numpy as np
recommendations_test['recommended_items'] = recommendations_test['recommended_items'].apply(lambda x: np.array(x))
recommendations_test['true'] = recommendations_test['true'].apply(lambda x: np.array(x))

In [13]:
from recall_at_k import *
recall_at_k(recommendations_test, k = 10, y_test = 'true', y_pred = 'recommended_items')

ValueError: setting an array element with a sequence.

In [ ]:
recommendations_test['recommended_items'] = recommendations_test['recommended_items'].apply(lambda x: [str(a) for a in x]).apply(lambda x: ' '.join(x))
recommendations_test.to_csv('recommendations_lightGBM.csv', index=False)

In [36]:
recommendations_test['true']

0       3360
1        584
2       2625
3       3344
4       1868
        ...
6035    3216
6036    1583
6037    1040
6038    2354
6039    1177
Name: true, Length: 6040, dtype: int64

In [14]:
import pandas as pd
data_BERT = pd.read_csv('recommendations_BERT.csv')

      score  user_id  item_id
0  1.469170        3     1560
1  1.349339        3     3529
2  1.271518        3     2327
3  1.225739        3     2784
4  1.182122        3      494

In [40]:
import itertools
top_k = 10
def get_top_k_recommendations(user_id, k=top_k, df=test_df):
    user_predictions = df[df['user_id'] == user_id]
    top_k_items = user_predictions.nlargest(k, 'score')['item_id'].values
    return list(top_k_items)
users = data_BERT['user_id'].unique()
items = data_BERT['item_id'].unique()


# Для каждого пользователя выбираем топ-10 фильмов в тестовом наборе
user_top_k_recommendations_BERT = {user_id: get_top_k_recommendations(user_id, df=data_BERT) for user_id in data_BERT.user_id.unique()}

# Преобразуем результат в DataFrame для теста
recommendations_BERT = pd.DataFrame({
    'user_id': user_top_k_recommendations_BERT.keys(),
    'item_id': user_top_k_recommendations_BERT.values()
})
recommendations_BERT

      user_id                                            item_id
0           3  [1543, 1223, 1560, 3409, 1315, 132, 3529, 1505...
1           4  [2528, 1337, 1560, 2297, 1583, 1039, 3409, 131...
2          18  [1583, 1039, 2297, 1543, 3529, 1337, 1560, 181...
3          22  [1543, 2528, 3409, 1560, 1315, 132, 1505, 3529...
4          24  [1583, 2297, 1811, 1039, 1337, 1560, 2528, 584...
...       ...                                                ...
6035     6007  [2528, 1583, 1560, 2297, 1831, 132, 2327, 1505...
6036     6014  [1543, 1039, 132, 3409, 2327, 1505, 494, 1086,...
6037     6016  [472, 1583, 1543, 1811, 1223, 1039, 1337, 1560...
6038     6023  [472, 1583, 1543, 3529, 2297, 1223, 1039, 1811...
6039     6027  [1583, 1039, 1337, 2297, 1223, 1560, 3409, 150...

[6040 rows x 2 columns]

In [41]:
data_BERT[data_BERT.score == data_BERT[data_BERT.user_id == 0]['score'].max()]

         score  user_id  item_id
68639  1.64473        0     1543

In [42]:

recommendations_BERT = recommendations_BERT.sort_values(by = 'user_id')
recommendations_BERT['item_id'] = recommendations_BERT['item_id'].apply(lambda x: [str(a) for a in x]).apply(lambda x: ' '.join(x))
recommendations_BERT

      user_id                                           item_id
516         0    1543 472 1811 2784 1086 494 3151 2688 790 1668
2057        1   1039 2528 1315 1811 1505 132 2327 3529 169 3677
2058        2  1543 2528 1560 1039 132 3409 1315 1831 2327 1223
0           3   1543 1223 1560 3409 1315 132 3529 1505 2327 169
1           4  2528 1337 1560 2297 1583 1039 3409 1315 132 2327
...       ...                                               ...
4076     6035   1543 1337 2528 132 1811 2327 3529 1315 3409 584
4526     6036  1583 1039 1811 2297 1337 3529 1560 2528 584 1831
4527     6037  1543 1337 472 1560 1583 2528 2297 1315 1811 2327
3548     6038       1543 1583 1337 1315 494 640 476 523 2175 79
5031     6039  2528 132 1831 1811 1315 3529 1505 2784 2636 3151

[6040 rows x 2 columns]

In [43]:
recommendations_BERT.to_csv('recommendations_BERT.csv', index=False)

In [44]:
recommendations_BERT.user_id.unique().shape

(6040,)

In [36]:
train_df.user_id.unique().shape

(6040,)